<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"><img class="responsive-img" id="logo" src="https://home.fanniemae.com/HCD/SyndicatorDashboard/images/fannie_mae_logo_reg.png"/></a>
  </div>
</nav>

<div class="box-container">
  <h1 class="animated fadeInDown">Let us calculate your mortgage.</h1>
  <h4 class="animated fadeInLeft">Begin by filling out some information.</h4>
  <h4 class="animated fadeInLeft"><b></b></h4>
</div>

<div class="row">
  <div class="col s12 ">
    <ul class="tabs ">
      <li class="tab col s4"><a class="active" href="#test1">Mortgage Calculator</a></li>
      <li (click)="calculateAmorization()" class="tab col s4"><a href="#test2">Visualization</a></li>
      <li class="tab col s4"><a href="#test3">Formulas and Information</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <form ng-controller="calculation">
      <div class="input-field col s4">
        <div class="form-group">
          <i class="material-icons prefix">attach_money</i>
          <input [(ngModel)]="loanAmount" autocomplete="false" id="userLoanAmount" class="form-control" type="number" placeholder="Total Loan Amount" [ngModelOptions]="{standalone:true}">
        </div>
      </div>
      <div class="input-field col s4">
        <div class="form-group">
          <i class="material-icons prefix">insert_chart_outlined</i>
          <input [(ngModel)]="interestRate" autocomplete="false" id="userInterest" class="form-control" type="number" placeholder="Interest Rate" [ngModelOptions]="{standalone:true}">
        </div>
      </div>
      <div class="input-field col s4">
        <div class="form-group">
          <i class="material-icons prefix">timer</i>
          <input [(ngModel)]="numYears" autocomplete="false" id="userYears" class="form-control" type="number" placeholder="Number of years" [ngModelOptions]="{standalone:true}">
        </div>
      </div>
    </form>
    <div class="col s4" style="text-align: center;">
      <h5>Monthly Principal and Interest</h5>
    </div>
    <div class="col s4" style="text-align: center;">
      <h5>Number of Payments</h5>
    </div>
      <div class="col s4" style="text-align: center;">
        <h5>Total Payments</h5>
      </div>
      <div class="col s4" style="text-align: center;">
        <h5><i class="material-icons">attach_money</i> {{ calculate_monthly_payments() }}</h5>
      </div>
      <div class="col s4" style="text-align: center;">
        <h5>{{ num_payments() }}</h5>
      </div>
      <div class="col s4" style="text-align: center;">
        <h5><i class="material-icons">attach_money</i>{{ calculate_principal() }}</h5>

      </div>
    </div>
    <div id="test2" class="col s12">
      <div [hidden]="!chart">
        <canvas id="canvas" width="300" height="200">{{chart}}</canvas>
      </div>
      {{interestArray}}
    </div>
    <div id="test3" class="col s12">
        <div class="box-container">
                <h2>Mortgage Calculator Information:</h2>

                <p>The Fazzie May Mortgage Calculator© displays the payment breakdown for a standard fixed-rate mortgage based on user inputs. Mortgage calculators can play a vital role in the home buying process. They can also be fun to play with. The more informed home buyers are, the less likely they are to default. This results in lower delinquency rates for Fannie Mae and MBS investors. The calculator is made from Angular, HTML, CSS, TS, Chart.js, and Materialize running on an AWS EC2 instance. Created for the 2018 Fannie Mae Immersion Program.</p>
          
                <h3>Monthly Payment Formula:</h3>
                <h4>M = P * ( ( r * ( 1 + r )^n ) / ( ( 1 + r )^n – 1 ) )</h4>
                <h6>P - Principle, r - Interest Rate, n - Number of Payments</h6>
          
                <h3>Total Payments Formula:</h3>
                <h4>T = M * n</h4>
                <h6>M - Monthly Payments, n - Number of Payments</h6>
          
                <h3>Total Interest Payments Formula:</h3>
                <h4>I = T - P</h4>
                <h6>T - Total Payments, P - Principle</h6>
        </div>
  </div>

  <img class="fannie-img" id="house" width="600" src="https://designmodo.com/wp-content/uploads/2015/04/86-illustration-finished.png" />
