h1 {
    font-size: 3em;
    font-weight: 200;
}

h4 {
    font-size: 2em;
    font-weight: 100;
}

h5 {
    font-weight: 200;
}

.box-container {
    width: 100%;
    text-align: center;
}

.fannie-img {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -300px; /* half width of img */
}

.nav-wrapper {
    background-color: #0a1040;
}

.responsive-img {
    height: 60px;
    padding-top: 8px;
}

.row {
    width: 70%;
}

.tabs .tab a {
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;

} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#eee;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: #000;
} /*Color of underline*/

#graphButton {
    background-color: #0a1040;
}

#money_icon {
    color: #006600;
}

#submitButton {
    background-color: #0a1040;
}
