h1 {
    font-size: 3em;
    font-weight: 200;
}

h4 {
    font-size: 2em;
    font-weight: 100;
}

h5 {
    font-weight: 200;
}

.box-container {
    width: 100%;
    text-align: center;
}

.fannie-img {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -300px; /* half width of img */
}

.nav-wrapper {
    background-color: #0a1040;
}

.responsive-img {
    height: 60px;
    padding-top: 8px;
}

.row {
    width: 70%;
}

#money_icon {
    color: #006600;
}

#submitButton {
    background-color: #0a1040;
}
