.fannie-img {
  position: relative;
  bottom: -250px;
  left: 50%;
  margin-left: -300px; /* half width of img */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#0a1040;
  color: white;
  text-align: center;
}

